<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contact</title>
</head>
<body>
   <header class="header">
      <div class="menu">
         <div class="nav" data-page="home">Home</div>
         <div class="nav" data-page="Projects">Projects</div>
         <div class="nav" data-page="About">About</div>
         <div class="nav" data-page="Testimonials">Testimonials</div>
         <div class="nav" data-page="Contact">Contact</div>
      </div>
   </header>
   <main>

   </main>
   <script src="../assets/js/navagator.js"></script>

</body>
</html>