<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <title>Portfolio</title>
   <link href="/assets/css/MainPage.css" rel="stylesheet" />
   <!-- ICONS -->
   <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
      rel="stylesheet" />

</head>
<body>
   <header class="header">
      <div class="menu">
         <div class="nav" data-page="home" >Home</div>
         <div class="nav" data-page="Projects">Projects</div>
         <div class="nav" data-page="About">About</div>
         <div class="nav" data-page="Testimonials">Testimonials</div>
         <div class="nav" data-page="Contact">Contact</div>
      </div>
   </header>

   <main class="main">
      <h1>
         Hi, I’m <span class="name">Tristan</span>.
      </h1>
      <h2>
         I’m a full stack developer.
      </h2>
      

      <div class="view_more"><span class="material-symbols-outlined">expand_more</span>
</div>
   </main>
   <script src="../assets/js/navagator.js"></script>
</body>
</html>
