:root {
   --on-primary: #0E153A;
   --on-secondary: #3D5AF1;
   --on-tertiary: #22D1EE;
   --white: #FFFFFF;
}

/* IMPORTED FONTS */
@font-face {
   font-family: 'Tw Cen MT Condensed Bold';
   src: url('./../fonts/Tw Cen MT Condensed Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'Tw Cen MT Condensed Extra Bold Regular';
   src: url('./../fonts/Tw Cen MT Condensed Extra Bold Regular.ttf') format('truetype');
}

* {
   box-sizing: border-box;
   margin:0;
   padding:0;
}
.main {
   height: 100vh;
   display: flex;
}

body {
   background-color: var(--on-primary);
   color: var(--white);
}

.menu {
   display: flex;
   justify-content: right;
}

.menu > .nav {
   padding:20px;
   text-decoration: none;
   color:white;
}

.nav:hover ,.nav.active{
   color: var(--on-tertiary);
   border-bottom: 5px solid var(--on-tertiary);
   padding-bottom: calc(-5% - 5px);
}



span.name {
   color: var(--on-tertiary)
}

.main > .view_more {
   display: flex;
   margin: 0 auto;
}

.view_more {
   padding: 2px 30px;
   display: flex;
   justify-content: center;
   position:absolute;
   top: 95%;
   left: 50%
}

.my-info {
   transform: translateY(-50%);
   font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
   position: relative;
   width: 100%;
   margin: auto 0;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.me{
   padding-left: clamp(5vw, 100%, 5vw);
   /* font-size: 3rem; */
   font-size: clamp(25px, 25vw, 48px);
   width: 100%;
}

.home, .home.active {
   display: flex;
}

