:root {
   --on-primary: #0E153A;
   --on-secondary: #3D5AF1;
   --on-tertiary: #22D1EE;
   --white: #FFFFFF;
}


* {
   box-sizing: border-box;
   margin:0;
   padding:0;
}

body {
   background-color: var(--on-primary);
   color: var(--white);
}

.menu {
   display: flex;
   justify-content: right;
}

.menu > .nav {
   padding:20px;
   
}

span.name {
   color: var(--on-tertiary)
}

.main > .view_more {
   display: flex;
   margin: 0 auto;
}

.view_more {
   padding: 2px 30px;
   display: flex;
   justify-content: center;
   position:fixed;
   top: 95%;
   left: 50%
}

