:root {
   --on-primary: #0E153A;
   --on-secondary: #3D5AF1;
   --on-tertiary: #22D1EE;
   --white: #FFFFFF;
}

/* IMPORTED FONTS */
@font-face {
   font-family: 'Tw Cen MT Condensed Bold';
   src: url('./../fonts/Tw Cen MT Condensed Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'Tw Cen MT Condensed Extra Bold Regular';
   src: url('./../fonts/Tw Cen MT Condensed Extra Bold Regular.ttf') format('truetype');
}

* {
   box-sizing: border-box;
   margin:0;
   padding:0;
   scroll-behavior: smooth;
}

.main {
   height: 100vh;
}

body {
   background-color: var(--on-primary);
   color: var(--white);
}
.dark-top-gradient {
    position: absolute;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    right: 0;
    top: 0;
    left: 0;
    max-width: 50vw;
    max-height: 400px;
}

.menu {
   display: flex;
   justify-content: right;
}

.menu > .nav {
   padding:20px;
   text-decoration: none;
   color:white;
}

.nav:hover ,.nav.active{
   color: var(--on-tertiary);
   border-bottom: 5px solid var(--on-tertiary);
   padding-bottom: calc(-5% - 5px);
}



span.name {
   color: var(--on-tertiary)
}

.main > .view_more {
   display: flex;
   margin: 0 auto;
}

.view_more {
   padding: 2px 30px;
   display: flex;
   justify-content: center;
   position:absolute;
   top: 95%;
   left: 50%
}

.my-info {
   transform: translateY(-50%);
   font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
   position: relative;
   width: 100%;
   margin: auto 0;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.me{
   padding-left: clamp(5vw, 100%, 5vw);
   /* font-size: 3rem; */
   font-size: clamp(25px, 25vw, 48px);
   width: 100%;
}

.home, .home.active {
    display: flex;
    top: 50%;
    height: 100%;
    position: relative;
    transform: translateY(-50%);
}
#Contact {
   height: 500px;
   background-image: url(https://workik-websites.s3.amazonaws.com/39/staticassets/images/Pattern.svg);
}

.title {
  position: relative;
  display: inline-block;
  color: white;
  height: 0;
  border-left: 3px solid var(--on-tertiary);
  border-right: 3px solid var(--on-tertiary);
  transition: height 0.8s;
  cursor: pointer;
}

.title:hover {
   height: 50px;
}
